.vertical-center {
  min-height: calc(100vh - 100px);
  width: 100%;
  display: flex;
  align-items: center;
}
.box{
  height: 500px;
  width: 100%;
  background: white;
}
.col-md-8{
  background: white;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img{
    height: 40px;
  }
  p{
    text-align: justify;
    padding: 20px 0;
    width: 60%;
  }
}

.photo{
  background-image: url('/assets/img/about.jpg');
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
//all and (orientation: landscape)
@media screen and (max-width:767px){
  .wrapper{
    position: absolute;
    top: 30px;
  }
  .box{
    height: 400px;
  }
  .col-md-8{
    p{
      width: 95%;
    }
  }
}
@media all and (max-width:767px) and (orientation: landscape){
  .wrapper{
    top: 70px;
  }
}
