
<nav>
  <button class="burg" (click)="isClassVisible = !isClassVisible;" >
      <div class="bar" [ngClass]="{'animate': isClassVisible }"></div>
    </button>
  <ul [ngClass]="{'visible': isClassVisible }">
    <li class="col-xs-3" (click)="isClassVisible = !isClassVisible;"><a routerLink="/home" routerLinkActive="active" >Główna</a></li>
    <li class="col-xs-3" (click)="isClassVisible = !isClassVisible;"><a routerLink="/res-menu" routerLinkActive="active" >Menu</a></li>
    <li class="col-xs-3" (click)="isClassVisible = !isClassVisible;"><a routerLink="/about" routerLinkActive="active" >O nas</a></li>
    <li class="col-xs-3" (click)="isClassVisible = !isClassVisible;"><a routerLink="/contact" routerLinkActive="active">Kontakt</a></li>
  </ul>
</nav>
