*{
  color: white;
}
span{
  color: #FF6633;
}
.col-md-8{
  margin-top: 50px;
  h1,span{
    font-size: 8vw;
    margin: 0;
    display: inline-block;
  }
}

.col-md-3{
  position: absolute;
  bottom: 20px;
  padding-right: 0;
  right: 20px;
  .logo{
    width: 100%;
  }
  h1{
    font-weight: 500;
    font-size: 3.3em;
    text-transform: uppercase;
    word-spacing: .5em;
    span{
      font-size: inherit;
    }
  }
}
@media screen and (max-width:767px){
  .col-md-8{
    top: -100px;
    position: relative;

    h1,span{
      font-size: 16vw;
      display: inline-block;
    }
  }
  .col-md-3{
    width: 70%;
    left: 0;
    margin: 0 auto;
    padding: 0;
  }
}
@media all and (orientation: landscape) and (max-width:767px){
  .col-md-8{
    height: 100vh;
    top: -180px;
    h1,span{
      font-size: 10vw;
    }
    h1{
      display: block;
    }
  }
  .col-md-3{
    width: 30%;
    right: 20px;
    left: auto;
    margin: 0;
    padding: 0;
  }
}
